*{
    padding: 0;
    margin: 0;
}
.header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text{
    position: absolute;
    z-index: 1;
    color: #FFF;
    text-align: center;
}
.header-text h1{
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 60px; 
    margin-top: 65px;
}
.header-text h2{
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: -10px;
}
#logo{
    position: absolute;
    top: -267px;
    left: 50%;
    transform: translateX(-50%);
}
.header-text h3{
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 3.7px;
    position: absolute; 
    margin-top: 220px;
    margin-left: 39%;
    }
#bg{
    width: 100%;
    height: 768px;
}

.sec2 {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #e5e5e6 solid 1px;
    padding: 24px 250px;
}
.logo img {
    height: 18px;
}
  
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
  
nav ul li {
    padding-left: 48px;
}
  
nav ul li a {
    text-decoration: none;
    transition: color 0.3s;
    color: #48555B;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.091px;
    text-transform: uppercase;
}
nav ul li a:hover {
    color: #00A4E5; 
}


.sec3{
    width: 940px;
    margin: 52px auto;
}
.sec3 h1{
    color: #48555B;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
}
.sec3 h2{
    
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.188px;
}
.sec3 span{
    color: #16ACE8; 
}
.sec3 p{
    margin-top: 6px;
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px; 
}
.text1{
    width: 405px;
}
.sec3 h1::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #16ACE8; 
    margin: 11px auto; 
}

.content1{
    margin-top: 78px;
    display: flex;
    justify-content: space-between;
}
.img1{
    width: 140px;
    height: 224px;
    background-image: url("img/plan.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.img2{
    width: 140px;
    height: 224px;
    background-image: url("img/manage.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.img3{
    width: 140px;
    height: 224px;
    background-image: url("img/deliver.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.pics{
    width: 459px;
    display: flex;
    justify-content: space-between;
}
.sec3 h3{
    padding: 15px;
    position: absolute;
    z-index: 1;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 120.833% */
    letter-spacing: 0.188px;
}

.sec4{
    height: 40px;
    width: 940px;
    margin: 118px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.sec4 p{
    width: 405px;
}
.sec4 h1{
    color: #48555B;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.306px;
}
.sec4 h1::after {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background-color: #16ACE8; 
    margin: 11px 0; 
}
.sec4 p{
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 172.727% */
    letter-spacing: 0.2px;
}
.sec4 a{
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    background-color:#00A4E5;
    text-decoration: none;
    padding: 11px 29px;
}

.ic1{
    width: 65px;
    height: 75px;
    background-image: url("img/1.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.ic2{
    width: 67px;
    height: 75px;
    background-image: url("img/2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.ic3{
    width: 70px;
    height: 75px;
    background-image: url("img/3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sec5{
    width: 940px;
    margin: 76px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.p1{
    padding: 38px 23px;
    border: #e5e5e6 solid 1px;
}
.sec5 h1{
    width: 250px;
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    letter-spacing: 0.427px;
    margin-top: 25px;
    margin-bottom: 13px;
}
.sec5 p{
    width: 250px;
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.188px; 
}

.sec6{
    width: 1440px;
    text-align: center;
    margin: 70px auto 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
}
.sec6 .backimg{
    margin-top: 45px;
    width: 100%;
    height: 498px;
    background-image: url("img/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.sec6 .cont2{
    position: absolute;
    z-index: 1;
}
.sec6 h1{
    margin-top: 53%;
    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 120% */
    letter-spacing: 0.15px;
}
.sec6 button{
    margin-top: 35px;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    background-color:#00A4E5;
    text-decoration: none;
    padding: 11px 29px;
    border: none;
    cursor: pointer;
}

.sec7{
    width: 1440px;
    margin: 0 auto;
    background: #171819; 
    height: 100px;
    text-align: center;
}
.newsletter{
    margin-top: 30px;
    display: inline-block;
}
.innewsletter{
    display: flex;
    gap: 70px;
}
.sec7 .tittle{
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.846px;
}
#em{
    width: 250px;
    height: 39px; 
    border: 1px solid #979797;
    background: #FFF;
    padding: 0 16px;

    color: #48555B;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.07px; 
    margin-right: -5px;
}
#btn{
    width: 150px;   
    height: 40px;   
    background: #00A4E5; 
    border: none;
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
    cursor: pointer;
}
.niz{
    width: 1440px;
    margin: 0 auto;
    background: #141A20; 
    color: #FFF;
}
.cont4{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.logosm{
    width: 101px;
    height: 23px;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px
}
.cont4 p{
    width: 250px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 172.727% */
    letter-spacing: 0.85px; 
}
h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.846px; 
    margin-bottom: 19px;
    line-height: 16px;
    
}
.cont4 ul{
    margin-top: -8px;
    list-style-type: none;
}
.cont4 ul a{
    text-decoration: none;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 25px; /* 227.273% */
    letter-spacing: 0.846px; 
}
.cont4 .th{
    margin-top: 33px;
}
.cont4 .fh{
    margin-top: 33px;
}
footer{
    width: 1440px;
    margin: 0 auto;
    background: #171819; 
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 4px;
}
.sx{
    display: flex;
    gap: 25px;
    margin-top: 33px;
}
.icfs{
    height: 12px;
    width: 12px;
    background-image: url("img/fs.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0) invert(1);

}
.ictw{
    height: 12px;
    width: 12px;
    background-image: url("img/tw.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0) invert(1);

}
.icgg{
    height: 12px;
    width: 12px;
    background-image: url("img/gg.png");
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0) invert(1);

}

